<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.diagnostics>
      <sharedListeners>
        <add name="MyTextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
      </sharedListeners>

      <!-- The autoflush and indentsize attributes on trace are used by all listeners. Pay attention to
           the autoflush attribute: it may stop/cut off tracing output in some condition. -->
      <trace autoflush="true" indentsize="4">
        <!-- Here to add listeners for default Trace methods, like Trace.WriteLine and Debug.WriteLine, etc. -->
        <!-- listeners>
          <add name="MyTextWriter" />
          <remove name="Default" />
        </listeners -->
      </trace>

      <sources>
        <!-- Here switchName and switchType can be simply switchValue="All" -->
        <source name="MyTraceSource" switchName="MySourceSwitch" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="MyTextWriter" />
            <remove name ="Default" />
          </listeners>
        </source>
      </sources>

      <switches>
        <!-- You can set the level at which tracing is to occur -->
        <add name="MySourceSwitch" value="All" />
        <!-- You can turn tracing off -->
        <!--add name="MySourceSwitch" value="Off" -->
      </switches>
    </system.diagnostics>
</configuration>
